<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430412921098-c433je4r1f0e8s2ri8nem097r8b6vllo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430412921098-c433je4r1f0e8s2ri8nem097r8b6vllo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>430412921098-da4if8bnl47h0dqfu037qln4l1hkrn37.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5PPwRS60RHunn0quyLWhM4Vc1HGqhpzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>430412921098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projetofinal.motivaapp</string>
	<key>PROJECT_ID</key>
	<string>motiva-8b82f</string>
	<key>STORAGE_BUCKET</key>
	<string>motiva-8b82f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430412921098:ios:a4f22f8b8a9f309da422f3</string>
</dict>
</plist>